asteval
beautifulsoup4
black>=22.1.0
future
h5py
html5lib
iminuit
llvmlite
lmfit
lxml
matplotlib
numba>=0.47.0
numdifftools
numpy
pandas
python-dateutil
requests
scipy
setuptools
uncertainties>=3.0.3
